@model SocialMedia.Models.PostDetayModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="card">
    @if (Model != null)
    {

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="/User/Profile/@Model.PostId" class="card-link">
                            <h5 class="card-title">@Model.User.UserName @Model.User.UserSurname</h5>
                        </a>
                        <img src="@Model." class="card-img" alt="">

                        <p class="card-text btn">@Model.PostContent</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-primary">Beğen</a>
                                <a href="#" class="btn btn-sm btn-outline-secondary">Yorum Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
