@model SocialMedia.Models.PostDetayModel
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Yorumlar</h5>
                    <ul class="list-group">
                        @foreach (var x in Model)
                        {
                            <li class="list-group-item">
                                <strong>@x.User.UserMail    @x.CommentDate.ToString("dd.MM.yyyy HH:mm")</strong>
                                @x.CommentContent
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


